<div id="home-hero">

<div class="container">

<h1 class="animated fadeInDown">Where Tenants and Landlords Connect</h1>
<a id="learnMore" href="#" class="btn btn-primary">Learn More</a>

</div>

</div>

<div id="short-features">
<div class="container">
<div class="row">
	<div class="col-md-3">
		<h3><i class="fa fa-users"></i> Community</h3>
		Post upcoming events and community news on a digital message board for all of your neighbors to see
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-dollar"></i> Rent</h3>
		Pay rent instantly through our secure payment processing service. It’s convenient and accessible 24/7, anytime, anywhere.
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-comment"></i> Message</h3>
		Message your neighbors or landlord privately and directly.
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-wrench"></i> Maintenance</h3>
		Send maintenance requests to your landlord with the snap of a picture.
	</div>
</div>
</div>
</div>

<div id="side-by-side">

<div class="container">
<div class="row">
	<div class="col-md-6">
		<div class="page-header">
			<h3>Tenants with Benefits</h3>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-users"></i>
			</div>
			<div class="col-md-10">
				<h4>Stay up to date with your community</h4>
				<p>Want to throw a BBQ? Need to sell furniture? Lost your keys? Looking to
trade concert tickets for tutoring lessons? Post with the click of a button on
Abohd’s community board.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-dollar"></i>
			</div>
			<div class="col-md-10">
				<h4>Pay rent directly</h4>
				<p>Tired of mailing your rent check to your landlord? On vacation and need to pay rent tomorrow, without the penalty of a late fee? Pay safely and securely through Abohd.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-comment"></i>
			</div>
			<div class="col-md-10">
				<h4>Rethink how you interact with your neighbors</h4>
				<p>Want to tell neighbors that you’re having a party Friday night? Concerned that
a neighbor left their car lights on? Use Abohd to message a neighbor down the
hall or the entire floor.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-wrench"></i>
			</div>
			<div class="col-md-10">
				<h4>Send Maintenance requests instantly</h4>
				<p>Having some issues in the bathroom? Is your sink clogged? The door code not working? With the snap of a picture through Abohd, you can inform your landlord of what needs repair.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 benefit">

			</div>
			<div class="col-md-10">
				<div class="form-group">
				<%= link_to "Download Abohd on the App Store", signin_path, :class => 'btn btn-lg btn-primary' %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="page-header">
			<h3>Landlords with Benefits</h3>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-users"></i>
			</div>
			<div class="col-md-10">
				<h4>Stay up to date with your tenants</h4>
				<p>Are you hosting a building event? Need to repair the elevator over the weekend?
Be confident you can reach your tenants through Abohd’s community board.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-dollar"></i>
			</div>
			<div class="col-md-10">
				<h4>Receive rent directly</h4>
				<p>Whether you accept rent from other payment processing services or not, Abohd is a convenient and direct way to receive and track your tenants’ monthly dues. Give your tenants a secure way to pay on-time every month.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-comment"></i>
			</div>
			<div class="col-md-10">
				<h4>Rethink how you interact with your tenants</h4>
				<p>Tired of getting calls at all hours of the night? Need to remind your tenants that
rent is due in 2 days? Use Abohd to communicate with your tenants directly
through messages and push notifications building by building.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-wrench"></i>
			</div>
			<div class="col-md-10">
				<h4>Receive Maintenance requests instantly</h4>
				<p>Give your tenants the ability to file a maintenance request through Abohd. Collect and sort all requests based on date received and priority, and easily forward each request to your maintenance staff. Stay organized and up to date.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 benefit">

			</div>
			<div class="col-md-10">
				<div class="form-group">
				<a href="#" class="btn btn-primary btn-lg">Get Started on the Abohd Landlord Portal</a>
				</div>
			</div>
		</div>

		

	</div>
</div>
</div>

</div>

<script type="text/javascript">
	$("#learnMore").click(function(){
	    $(document.body).animate({
	        "scrollTop": $("#side-by-side").offset().top
	    }, 800); // animation time and easing
	    return false; // preventing default jump
	});
</script>
