<div id="home-hero">

<div class="container">

<h1>Abohd Main Value Proposition Here</h1>
<p class="lead">Sub heading goes here because that is important to have</p>
<a href="#" class="btn btn-lg btn-default">I'm a Renter</a>
<a href="#" class="btn btn-lg btn-info">I'm a Landlord</a>

</div>

</div>

<div id="short-features">
<div class="container">
<div class="row">
	<div class="col-md-3">
		<h3><i class="fa fa-cloud"></i> Something Here</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-coffee"></i> Something Here</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-user"></i> Something Here</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-coffee"></i> Something Here</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</div>
</div>
</div>
</div>

<div id="iphone-info">
<div class="container">

<div class="center heading">
	<h3><span>Download the iPhone App</span></h3>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-4">
		<img src="http://www.placehold.it/300x500">
	</div>
	<div class="col-md-4">
		<br><br><br><br>


		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		    	<h3>Does something cool</h3>
		    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		    </div>
		    <div class="item">
		    	<h3>Does something cool again</h3>
		    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		    </div>
		    <div class="item">
		    	<h3>The something cool</h3>
		    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		    </div>

		  </div>
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>


		</div><!--slide-->
		<div class="form-group">
		<a href="#" class="btn btn-default">Available on the app store</a>
		</div>

	</div>
</div>

</div>
</div>