<div id="home-hero">

<div class="container">

<h1 class="animated fadeInDown">Abohd Main Value Proposition Here</h1>
<p class="lead">Sub heading goes here because that is important to have</p>
<a id="learnMore" href="#" class="btn btn-primary">Learn More</a>

</div>

</div>

<div id="short-features">
<div class="container">
<div class="row">
	<div class="col-md-3">
		<h3><i class="fa fa-cloud"></i> Something Here</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-coffee"></i> Something Here</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-user"></i> Something Here</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</div>
	<div class="col-md-3">
		<h3><i class="fa fa-coffee"></i> Something Here</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</div>
</div>
</div>
</div>

<div id="side-by-side">

<div class="container">
<div class="row">
	<div class="col-md-6">
		<div class="page-header">
			<h3>For Landlords</h3>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-gears"></i>
			</div>
			<div class="col-md-10">
				<h4>Benefit for landlords</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-gears"></i>
			</div>
			<div class="col-md-10">
				<h4>Benefit for landlords</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-gears"></i>
			</div>
			<div class="col-md-10">
				<h4>Benefit for landlords</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">

			</div>
			<div class="col-md-10">
				<div class="form-group">
				<%= link_to "Get your building on Abohd", signin_path, :class => 'btn btn-lg btn-primary' %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="page-header">
			<h3>For Tenants</h3>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-cloud-upload"></i>
			</div>
			<div class="col-md-10">
				<h4>Benefit for tenants</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-cloud-upload"></i>
			</div>
			<div class="col-md-10">
				<h4>Benefit for tenants</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 benefit">
				<i class="fa fa-cloud-upload"></i>
			</div>
			<div class="col-md-10">
				<h4>Benefit for tenants</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 benefit">

			</div>
			<div class="col-md-10">
				<div class="form-group">
				<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-apple"></i> Available on the app store</a>
				</div>
			</div>
		</div>

		

	</div>
</div>
</div>

</div>

<script type="text/javascript">
	$("#learnMore").click(function(){
	    $(document.body).animate({
	        "scrollTop": $("#side-by-side").offset().top
	    }, 800); // animation time and easing
	    return false; // preventing default jump
	});
</script>
