<h1>Maintenance Requests</h1>

<div class="row">
<div class="col-md-4">
<div class="form-group">
	<select class="form-control">
	  <option>All Properties</option>
	  <option>123 Barrington Place</option>
	  <option>456 Bundy Apts</option>
	</select>
</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<input class="form-control" placeholder="search">
	</div>
</div>

</div>

<table class="table">
	<thead>
		<th>Date</th>
		<th>From</th>
		<th>Name</th>
		<th>Apt/Unit</th>
		<th>Priority</th>
		<th>Status</th>
		
		
	</thead>
	<tbody>
		<tr>
			<td>3/4/14</td>
			<td>Bob Smith</td>
			<td><%= link_to "Broken Shower in Bathroom", maintenance_path %></td>
			<td>Apt 321</td>
			<td><div class="progress">
		  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
		  </div>
		</div></td>
			<td>Open</td>

		</tr>
	</tbody>
</table>