<div class="row">
	<div class="col-md-3 center">
		<div class="kpi">
		<h1>4</h1>
		<p>Messages</p>
		</div>
	</div>
	<div class="col-md-3 center">
		<div class="kpi">
		<h1>4</h1>
		<p>Messages</p>
		</div>
	</div>
	<div class="col-md-3 center">
		<div class="kpi">
		<h1>4</h1>
		<p>Messages</p>
		</div>
	</div>
	<div class="col-md-3 center">
		<div class="kpi">
		<h1>4</h1>
		<p>Messages</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Recent activity</h2>
		<div class="row">
			<div class="col-md-12">
				<a href="#">Bob Smitherson</a> sent you a message about <a href="#">123 Barrington Ave.</a>
				<div><small>34 minutes ago</small></div>
			</div>
		</div>
	</div>
</div>

