<a href="#" class="btn btn-primary pull-right">Add New Property</a>

<h1>All Properties</h1>

<div class="row">
<div class="col-md-4">
<div class="form-group">
	<input class="form-control input-sm" placeholder="search">
</div>
</div>
</div>


<table class="table">
	<thead>
		<th>Name</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Rent</th>
	</thead>
	<tbody>
		<tr>
			<td>Barrington Ave Apartments</td>
			<td>123 Barrington Ave.</td>
			<td>Brentwood</td>
			<td>CA</td>
			<td>90230</td>
			<td><span class="text-success"><i class="fa fa-check"></i> 4</span> / <span class="text-danger"><i class="fa fa-minus-circle"></i> 1</span></td>
			<td><%= link_to "View", propertydetail_path, :class => 'btn btn-sm btn-primary'%></td>
		</tr>
		
	</tbody>
</table>
