<h1>Messages</h1>



<div class="row">
<div class="col-md-4">
<div class="form-group">
	<input class="form-control input-sm" placeholder="search">
</div>
</div>
</div>

<div class="row">

<div class="col-md-8">
<ul class="nav nav-pills">
	<li class="active"><a href="#">Received</a></li>
	<li><a href="#">Sent</a></li>
</ul>
</div>

<div class="col-md-4">
	<a href="#" class="btn btn-sm btn-default">New Message</a>
	<a href="#" class="btn btn-sm btn-danger">Delete</a>
</div>

</div><!--row-->

<div class="row">

	<div class="col-md-12">
		<table class="table">
			<thead>
				<th><div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
		      	</th>
				<th>Date</th>
				<th>From</th>
				<th>Subject</th>
				<th>Status</th>
			</thead>
			<tbody>

				<tr>
					<td>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
					</td>
					<td>3/4/14</td>
					<td>Bob Smith</td>
					<td><b><a href="#">Message Subject</a></b> <br> <span>Preview of the message goes here</span> </td>
					<td><b>Unread</b></td>
				</tr>

				<tr>
					<td>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
					</td>
					<td>3/4/14</td>
					<td>Bob Smith</td>
					<td><b><a href="#">Message Subject</a></b> <br> <span>Preview of the message goes here</span> </td>
					<td><b>Unread</b></td>
				</tr>

				<tr>
					<td>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
					</td>
					<td>3/4/14</td>
					<td>Bob Smith</td>
					<td><b><a href="#">Message Subject</a></b> <br> <span>Preview of the message goes here</span> </td>
					<td><b>Unread</b></td>
				</tr>

				<tr>
					<td>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
					</td>
					<td>3/4/14</td>
					<td>Bob Smith</td>
					<td><b><a href="#">Message Subject</a></b> <br> <span>Preview of the message goes here</span> </td>
					<td><b>Unread</b></td>
				</tr>
				
			</tbody>
		</table>
	</div>

</div>
