<h1>Messages</h1>

<div class="row">

<div class="col-md-8">
<ul class="nav nav-pills">
	<li class="active"><a href="#">Received</a></li>
	<li><a href="#">Sent</a></li>
</ul>
</div>

<div class="col-md-4">
	<a href="#" class="btn btn-sm btn-default">Mark as unread</a>
	<a href="#" class="btn btn-sm btn-default">Mark as read</a>
	<a href="#" class="btn btn-sm btn-danger">Delete</a>
</div>

</div><!--row-->

<div class="row">

	<div class="col-md-12">
		<table class="table">
			<thead>
				<th><div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
		      	</th>
				<th>From</th>
				<th>Subject</th>
				<th>Status</th>
			</thead>
			<tbody>

				<tr>
					<td>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
					</td>
					<td>Bob Smith <br> <small>2 days ago at 3:23pm</small></td>
					<td><b><a href="#">Message Subject</a></b> <br> <span>Preview of the message goes here</span> </td>
					<td><b>Unread</b></td>
				</tr>

				<tr>
					<td>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
					</td>
					<td>Bob Smith <br> <small>2 days ago at 3:23pm</small></td>
					<td><b><a href="#">Message Subject</a></b> <br> <span>Preview of the message goes here</span> </td>
					<td><b>Unread</b></td>
				</tr>

				<tr>
					<td>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
					</td>
					<td>Bob Smith <br> <small>2 days ago at 3:23pm</small></td>
					<td><b><a href="#">Message Subject</a></b> <br> <span>Preview of the message goes here</span> </td>
					<td><b>Unread</b></td>
				</tr>

				<tr>
					<td>
						<div class="checkbox">
					        <label>
					          <input type="checkbox" value="">
					        </label>
					      </div>
					</td>
					<td>Bob Smith <br> <small>2 days ago at 3:23pm</small></td>
					<td><b><a href="#">Message Subject</a></b> <br> <span>Preview of the message goes here</span> </td>
					<td>Read <br> <small>2 days ago at 1:32pm</small></td>
				</tr>
				
			</tbody>
		</table>
	</div>

</div>
