<a href="#" class="btn btn-default pull-right">Edit</a>

<h1>123 Barrington Ave</h1>


<h3>Tenants</h3>

<table class="table">
	<thead>
		<th>First</th>
		<th>Last</th>
		<th>Apt/Unit</th>
		<th>Rent</th>
		<th>Status</th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><i class="fa fa-check"</i> Paid</td>
			<td><%= link_to "View", tenantdetail_path, :class => 'btn btn-sm btn-primary'%>
				<a href="#" class="btn btn-default btn-sm">Edit</a>
				<a href="#" class="btn btn-default btn-sm">Delete</a>
			</td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td class="text-danger"><i class="fa fa-minus-circle"></i> Overdue</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a>
				<a href="#" class="btn btn-default btn-sm">Edit</a>
				<a href="#" class="btn btn-default btn-sm">Delete</a>
			</td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><i class="fa fa-check"</i> Paid</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a>
				<a href="#" class="btn btn-default btn-sm">Edit</a>
				<a href="#" class="btn btn-default btn-sm">Delete</a></td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td class="text-danger"><i class="fa fa-minus-circle"></i> Overdue</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a>
				<a href="#" class="btn btn-default btn-sm">Edit</a>
				<a href="#" class="btn btn-default btn-sm">Delete</a></td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><i class="fa fa-check"</i> Paid</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a>
				<a href="#" class="btn btn-default btn-sm">Edit</a>
				<a href="#" class="btn btn-default btn-sm">Delete</a></td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><i class="fa fa-check"</i> Paid</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a>
				<a href="#" class="btn btn-default btn-sm">Edit</a>
				<a href="#" class="btn btn-default btn-sm">Delete</a></td>
		</tr>
	</tbody>
</table>

<h3>Maintenance Requests</h3>

<table class="table">
	<thead>
		<th>Date</th>
		<th>From</th>
		<th>Name</th>
		<th>Apt/Unit</th>
		<th>Priority</th>
		<th>Status</th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td>3/4/14</td>
			<td>Bob Smith</td>
			<td><%= link_to "Broken Shower in Bathroom", maintenance_path %></td>
			<td>Apt 321</td>
			<td></td>
			<td>Open</td>
		</tr>
	</tbody>
</table>