<a href="#" class="btn btn-primary pull-right">Add New Tenant</a>

<h1>Tenants</h1>

<table class="table">
	<thead>
		<th>First</th>
		<th>Last</th>
		<th>Apt/Unit</th>
		<th>Rent</th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><%= link_to "View", tenantdetail_path, :class => 'btn btn-sm btn-primary'%></td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a></td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a></td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a></td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a></td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>Smith</td>
			<td>301</td>
			<td>$950</td>
			<td><a href="#" class="btn btn-default btn-sm">View</a></td>
		</tr>
	</tbody>
</table>
