<div id="footer">
      <div class="container">
      	&copy; 2014 Abohd
      	<div class="pull-right">
      	<%= link_to "About", about_path %>
      	<%= link_to "Terms", terms_path %>
      	<%= link_to "Privacy", privacy_path %>
      	</div>
      </div>
    </div>